/* Write the CSS for you answer here */
body {
    padding:10%;;
}
.main {
    position: relative;
    width: 700px;
    height: 541px;
    margin:0px auto;
}

.pohutukawa {
    background: url(assets/pohutukawa.png) no-repeat center top;
    position: absolute;
    width: 700px;
    height: 541px;
    top:100px;
}

.landscape {
    background: url(assets/landscape.jpg) no-repeat bottom center;
    position: absolute;
    width: 700px;
    height: 541px;

}


/* @keyframes changeColor {
    from {
        filter: blur(2px) sepia(40%);
    }
    to {
        filter: blur(2px) sepia(0%);
    }
    } */


/* @keyframes changeColor {
    0%   {
        filter: blur(1px) sepia(0%);
        }
    25%  {
        filter: blur(2px) sepia(20%);
    }
    50%  {
        filter: blur(3px) sepia(60%);
    }
    75%  {
        filter: blur(4px) sepia(40%);
    }
    100% {
        filter: blur(5px) sepia(0%);
    }

} */


/*  */


.redStar img {
    top: 366px;
    left: 25px;
    /* background:url(assets/red.png); */
    position: absolute;
    width: 49px;
    height: 64px;
    z-index: 9;
}

/*animation for christmas stars */

.redStar img {
    animation: bounceRed 3s 2;
    animation-timing-function: linear;
    /* animation-name: ; */
}



.blueStar img {
    top: 217px;
    left: 94px;
    /* background:url(assets/blue.png); */
    position: absolute;
    /* width: 49px;
    height: 64px; */
    z-index: 9;
    
}

.blueStar img {
    animation: bounceBlue 3s 2;
    animation-timing-function: linear;
    /* animation-name: ; */
}

.darBlueStar img {
    top: 287px;
    left: 280px;
    /* background:url(assets/darkblue.png); */
    position: absolute;
    /* width: 49px;
    height: 64px; */
    z-index: 9;
}

.darBlueStar img {
    animation: bounceDarkBlue 3s 2;
    animation-timing-function: linear;
    /* animation-name: ; */
}


.greenStar img {
    top: 217px;
    left: 400px;
    /* background:url(assets/green.png); */
    position: absolute;
    /* width: 49px;
    height: 64px; */
    z-index: 9;
}

.greenStar img {
    animation: bounceGreen 3s 2;
    animation-timing-function: linear;
    /* animation-name: ; */
}



.orangeStar img {
    top: 280px;
    left: 634px;
    background:url(assets/orange.png);
    position: absolute;
    width: 49px;
    height: 64px;
    z-index: 9;
}

.orangeStar img {
    animation: bounceOrange 3s 2;
    animation-timing-function: linear;
    /* animation-name: ; */
}

img#tree {
    pointer-events: none; /* to restore it, set value to: auto */
    }

.redStar a:hover img {
    animation: bounceOrange 3s 1;
    animation-timing-function: linear;
}

.blueStar a:hover img {

}

.darBlueStar a:hover img {
    
}

.greenStar a:hover img {

}

.orangeStar a:hover img {

}

@keyframes bounceRed {
    0%   {
        top: 366px;
        }
    /* 25%  {
        top: 466px;
    } */
    50%  {
        top: 510px;
    }
    /* 75%  {
        top: 400px;
    } */
    100% {
        top: 366px;
    }
}


@keyframes bounceBlue {
    0%   {
        top: 217px;
        }
    /* 25%  {
        top: 466px;
    } */
    50%  {
        top: 510px;
    }
    /* 75%  {
        top: 400px;
    } */
    100% {
        top: 217px;
    }
}


@keyframes bounceDarkBlue {
    0%   {
        top: 287px;
        }
    /* 25%  {
        top: 466px;
    } */
    50%  {
        top: 510px;
    }
    /* 75%  {
        top: 400px;
    } */
    100% {
        top: 287px;
    }
}

@keyframes bounceGreen {
    0%   {
        top: 217px;
        }
    /* 25%  {
        top: 466px;
    } */
    50%  {
        top: 510px;
    }
    /* 75%  {
        top: 400px;
    } */
    100% {
        top: 217px;
    }
}

@keyframes bounceOrange {
    0%   {
        top: 280px;
        }
    /* 25%  {
        top: 466px;
    } */
    50%  {
        top: 510px;
    }
    /* 75%  {
        top: 400px;
    } */
    100% {
        top: 280px;
    }
}