/* Write the CSS for you answer here */
.main {
    position: relative;
    width: 700px;
    height: 541px;
    margin:0px auto;
}

.pohutukawa {
    background: url(assets/pohutukawa.png) no-repeat center top;
    position: absolute;
    width: 700px;
    height: 541px;
    top:100px;
}

.landscape {
    background: url(assets/landscape.jpg) no-repeat bottom center;
    position: absolute;
    width: 700px;
    height: 541px;

}
.redStar img {
    top: 366px;
    left: 25px;
    /* background:url(assets/red.png); */
    position: absolute;
    width: 49px;
    height: 64px;
    z-index: 9;
}

.blueStar img {
    top: 217px;
    left: 94px;
    /* background:url(assets/blue.png); */
    position: absolute;
    /* width: 49px;
    height: 64px; */
    z-index: 9;
}

.darBlueStar img {
    top: 287px;
    left: 280px;
    /* background:url(assets/darkblue.png); */
    position: absolute;
    /* width: 49px;
    height: 64px; */
    z-index: 9;
}

.greenStar img {
    top: 217px;
    left: 400px;
    /* background:url(assets/green.png); */
    position: absolute;
    /* width: 49px;
    height: 64px; */
    z-index: 9;
}

.orangeStar img {
    top: 280px;
    left: 634px;
    background:url(assets/orange.png);
    position: absolute;
    width: 49px;
    height: 64px;
    z-index: 9;
}