
@media print {
    body {
        background-color:#fff;
       
    }
    pre, strong {
        color: #000;
        font-family: Arial, Helvetica, sans-serif;
    }
    .topCornerPattern img {
        display: none;  
    }
    div.container {
        background-color: #fff;
        box-shadow: 0 0 0 ;
        width: 100%;
        border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    }
}