body {
    background-color: Lavender;
}
pre, strong {
    color: purple;
    line-height: 1.5;
    /* letter-spacing: 1.5; */
    font-size: 22px;
    font-family: 'Alex Brush', cursive;
    text-align: center;
    display: block;
}
.topCornerPattern {
    /* background:url(./assets/corner-LT-pattern.png) no-repeat top top; */
    position: absolute;
}
.container {
    padding:5% 0;
    background:#fff url(./assets/ytile-pattern.png) repeat-y  15% top;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    width:60%;
    margin:0px auto;
    box-shadow: 5px 10px 18px purple;
}